node-red-flows/milight.flow
[{"id":"75b7c7c2.8a4838","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"db9d66bc.246298","type":"udp out","z":"dda99c4b.22566","name":"MiLight UDP send","addr":"192.168.1.2","iface":"","port":"8899","outport":"","base64":false,"multicast":"false","x":859.6111450195312,"y":273.2778015136719,"wires":[]},{"id":"6bd853cb.9427ac","type":"mqtt in","z":"dda99c4b.22566","name":"Lights MQTT","topic":"lights/+/+","broker":"75b7c7c2.8a4838","x":127.75,"y":274,"wires":[["a33bc837.5cc438","d742f1bc.28bd1"]]},{"id":"a33bc837.5cc438","type":"function","z":"dda99c4b.22566","name":"parse light commands","func":"var newMsg = [];\nvar topics = msg.topic.split(\"/\");\nvar group = parseInt(topics[1]);\nvar command = topics[2];\nswitch (command) {\n\tcase \"power\":\n\t\t//\"on\" or \"off\"\n\t\tnewMsg={payload:{command:msg.payload,value:group}};\n\t\tbreak;\n\tcase \"whitemode\":\n\t\t//should be \"yes\"\n\t\tif ( msg.payload == \"yes\" ) {\n\t\t\tnewMsg=[{payload:{command:\"on\",value:group}},{payload:{command:\"whiteMode\",value:group}}];\n\t\t}\n\t\tbreak;\n\tcase \"hue\":\n\t\t//should be 0-255, not checking it\n\t\tnewMsg=[{payload:{command:\"on\",value:group}},{payload:{command:\"hue\",value:parseInt(msg.payload)}}];\n\t\tbreak;\n\tcase \"brightness\":\n\t\t//should be 1-100, not checking it\n\t\tnewMsg=[{payload:{command:\"on\",value:group}},{payload:{command:\"brightness\",value:parseInt(msg.payload)}}];\n\t\tbreak;\n\tcase \"disco\":\n\t\tswitch (msg.payload) {\n\t\t\t//check if I have to turn them on first\n\t\t\tcase \"yes\":\n\t\t\t\tnewMsg=[{payload:{command:\"on\",value:group}},{payload:{command:\"discoMode\",value:\"\"}}];\n\t\t\t\tbreak;\n\t\t\tcase \"up\":\n\t\t\t\tnewMsg=[{payload:{command:\"on\",value:group}},{payload:{command:\"discoMode\",value:\"\"}},{payload:{command:\"discoSpeedUp\",value:\"\"}}];\n\t\t\t\tbreak;\n\t\t\tcase \"down\":\n\t\t\t\tnewMsg=[{payload:{command:\"on\",value:group}},{payload:{command:\"discoMode\",value:\"\"}},{payload:{command:\"discoSpeedDown\",value:\"\"}}];\n\t\t\t\tbreak;\n\t\t}\n\t\tbreak;\n}\nreturn [newMsg]; ","outputs":1,"x":312.99999618530273,"y":273.88889598846436,"wires":[["170e7c7c.e8f184"]]},{"id":"63053dd3.9cfac4","type":"delay","z":"dda99c4b.22566","name":"","pauseType":"rate","timeout":"100","timeoutUnits":"milliseconds","rate":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":686.5277709960938,"y":274.0278015136719,"wires":[["db9d66bc.246298"]]},{"id":"170e7c7c.e8f184","type":"function","z":"dda99c4b.22566","name":"Translate to Miligt","func":"//wifibox 4 should handle 2 byte data (on limitlessled they mentrion only wifi box 3)\nvar commandCode = [];\nswitch ( msg.payload.command ) {\n\tcase \"on\":\n\t\tcommandCode = [[0x42,0x45,0x47,0x49,0x4B][msg.payload.value],0x00]; \n\t\tbreak;\n\tcase \"off\":\n\t\tcommandCode = [[0x41,0x46,0x48,0x4A,0x4C][msg.payload.value],0x00];\n\t\tbreak;\n\tcase \"hue\": //0-255\n\t\tvar hex = msg.payload.value.toString(16);\n\t\thex = (hex.length < 2) ? '0x0'+hex : '0x'+hex;\n\t\tcommandCode = [0x40,hex];\n\t\tbreak;\n\tcase \"whiteMode\":\n\t\tcommandCode = [[0xC2,0xC5,0xC7,0xC9,0xCB][msg.payload.value],0x00];\n\t\tbreak;\n\tcase \"brightness\": //1-100 => 2 to 27\n\t\tvar hex = Math.max(2,(Math.ceil((msg.payload.value-1)/99*25))+2).toString(16);\n\t\thex = (hex.length < 2) ? '0x0'+hex : '0x'+hex;\n\t\tcommandCode= [0x4E,hex];\n\t\tbreak;\n\tcase \"discoMode\":\n\t\tcommandCode = [0x4D,0x00];\n\t\tbreak;\n\tcase \"discoSpeedUp\":\n\t\tcommandCode = [0x44,0x00];\n\t\tbreak;\n\tcase \"discoSpeedDown\":\n\t\tcommandCode = [0x43,0x00];\n\t\tbreak;\n};\n//commandCode[2]=0x55;\nmsg.payload = new Buffer(commandCode);\nreturn msg;;","outputs":1,"x":512.8611145019531,"y":274.1111145019531,"wires":[["63053dd3.9cfac4"]]},{"id":"d742f1bc.28bd1","type":"debug","z":"dda99c4b.22566","name":"","active":true,"console":"false","complete":"false","x":289.5,"y":326,"wires":[]},{"id":"90b32c54.6f4cd","type":"inject","z":"dda99c4b.22566","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"x":112.5,"y":430,"wires":[["2e6be4ba.d1941c"]]},{"id":"2e6be4ba.d1941c","type":"mqtt out","z":"dda99c4b.22566","name":"","topic":"lights/2/power","qos":"","retain":"","broker":"75b7c7c2.8a4838","x":415.5,"y":455,"wires":[]},{"id":"4cc6fb84.b33904","type":"inject","z":"dda99c4b.22566","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"x":111,"y":501,"wires":[["2e6be4ba.d1941c"]]},{"id":"1e5d391b.e1a2c7","type":"inject","z":"dda99c4b.22566","name":"","topic":"","payload":"255","payloadType":"str","repeat":"","crontab":"","once":false,"x":103.5,"y":630,"wires":[["8693202b.796ce"]]},{"id":"8693202b.796ce","type":"mqtt out","z":"dda99c4b.22566","name":"","topic":"lights/2/hue","qos":"","retain":"","broker":"75b7c7c2.8a4838","x":412.5,"y":626,"wires":[]},{"id":"bbef48f.f4410b8","type":"inject","z":"dda99c4b.22566","name":"","topic":"","payload":"200","payloadType":"str","repeat":"","crontab":"","once":false,"x":102,"y":682,"wires":[["8693202b.796ce"]]},{"id":"35c07e6.fca3f82","type":"inject","z":"dda99c4b.22566","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":106.5,"y":738,"wires":[["8693202b.796ce"]]},{"id":"9cc3274b.633cd8","type":"inject","z":"dda99c4b.22566","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":99.5,"y":559,"wires":[["1544f22.feabb0e"]]},{"id":"1544f22.feabb0e","type":"mqtt out","z":"dda99c4b.22566","name":"","topic":"lights/2/whitemode","qos":"","retain":"","broker":"75b7c7c2.8a4838","x":414,"y":535,"wires":[]},{"id":"ba29c353.45d64","type":"mqtt out","z":"dda99c4b.22566","name":"","topic":"lights/2/brightness","qos":"","retain":"","broker":"75b7c7c2.8a4838","x":426,"y":807,"wires":[]},{"id":"33fbf9ae.cc0406","type":"inject","z":"dda99c4b.22566","name":"","topic":"","payload":"50","payloadType":"str","repeat":"","crontab":"","once":false,"x":97.5,"y":804,"wires":[["ba29c353.45d64"]]},{"id":"359b2c44.ca64d4","type":"inject","z":"dda99c4b.22566","name":"","topic":"","payload":"100","payloadType":"str","repeat":"","crontab":"","once":false,"x":101,"y":853,"wires":[["ba29c353.45d64"]]}]
